
/*global removal of white space */

/* Consistent header style and center Navigation for all pages */
#headerstyle {
  font-family:'source_sans_proregular',sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align:center;
  padding: 20px;
  background: linear-gradient(to bottom, rgb(47, 147, 180), rgb(224, 208, 118))
  }

/*Section for formatting Navigation bar and links to other pages. Same across all pages */
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
  border: none;
  margin-bottom: 0px;
  }
#main-navbar {
  background-color: lightskyblue;
  overflow: hidden;
  padding: 0 px;
 
}

#main-navbar ul {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
  left: 50%;
  float: left;
  font-family: Calibri, sans-serif;
}

#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  
}

#main-navbar ul li a {
  display: block;
  color :black;
  text-decoration:none;
  font: Calibri,sans-serif;
  padding: 10px;
  display: block;
}

#main-navbar ul li a:hover {
  background-color: lightgrey;
}
/*End CSS for Navigation bar */

/*Begin styles for main body Resume */

#contactinfo {
  font-family: 'source_sans_proregular', sans-serif;
  margin-bottom: 1rem;
}

p{
  font-family: 'source_sans_proregular';
  font-weight:500;
}

#Experience {
  font-family: 'source_sans_proregular';
  color:darkslategray;
} 


#Education {
  font-family: 'source_sans_proregular';
  color: darkslateblue;
}
.smallImage{
  width: 60px;
  height: 60px;
  padding: 0px;
}

/*provide option to underlining heading h2 for Resume page */
/*set margin-top to 0px to allow background color to "meet" navbar */
h2#under_line {
  text-decoration: underline;
  margin-top: 0px;
  
}
/*Background for Resume page */

.resume_background {
  background: lightyellow;
  padding: 20 px;
  margin-top: 0px;
}

/* NEED TO FIX FOOTER */


/*End CSS styles for resume */

/*Styles for index.html page */
/*Try something from Stackoverflow to ensure page is covered */

/*put in special background for index page . Source: cssgradient.io */
.index_background{
  color: darkslategrey;
  background: #f6f7f2;
  background: linear-gradient(135deg, rgba(246, 247, 242, 0.99) 0%, rgba(87, 199, 133, 1) 50%, rgba(242, 236, 228, 1) 100%);
  min-height: 100%;
  margin: 0px;
}

/*put in format and style for footer */
footer {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:lightgray;
  height: 100px;
  padding: 20px;
  text-align:center;
}

/*Close white space above h2 */
h2#top_line {
  margin-top: 0px;
}


/* Styles for Page 3 */
q{
  font-style:italic;
  text-shadow: 3px 3px 5px grey;
  text-indent: 3rem;
  padding: 2rem;
  margin-left: 1rem;
  font-size: 125%;
}
.p3_body {
  background: lightpink;
  display: flex;
  flex-direction: column;
 
}

h1#p3_h1{
  font-family: 'source_sans_proregular';
  margin-top: 0;
  margin-bottom:0;
  font-size: 2.5em;
  text-align: left;
  text-indent: 10%;
}
img#p3_img{
  float:inline-start;
  margin-right: 1rem;
}

iframe#p3video{
  float:right;
  margin-left: 1rem;
}
footer#p3footer {
  background-color: rgb(42, 113, 185);
  text-align: left;
  color:whitesmoke;
  padding: 20px;
  bottom: 0;
  width: 100%;
}

main#p3_main {
  height: 100%;
  margin: 0px;
}

