
#headerstyle {
  font-family:'source_sans_proregular',sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align:center;
  background: linear-gradient(to bottom, rgb(47, 147, 180), rgb(224, 208, 118))
}

/*Section for formatting Navigation bar and links to other pages */
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
  border: none;
}
#main-navbar {
  background-color: lightskyblue;
  overflow: hidden;
  padding: 0 px;
}

#main-navbar ul {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
  left: 50%;
  float: left;
  font-family: Calibri, sans-serif;
}

#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
}

#main-navbar ul li a {
  display: block;
  color :black;
  text-decoration:none;
  font: Calibri,sans-serif;
  padding: 10px;
  display: block;
}

#main-navbar ul li a:hover {
  background-color: lightgrey;
}
/*End Navbar related CSS section */

/*Begin styles for main body */

#contactinfo {
  font-family: 'source_sans_proregular', sans-serif;

}
p{
  font-family: 'source_sans_proregular';
  font-weight:500;

}