
#headerstyle{
  font-family: 'SourceSansPro-Regular'; sans-serif;
}

/*not using for now */
#navtest {
  font-family: 'Dihjauti';
  font-weight: 700;

}

/* Finally got the menu centered, and the hover highlight to work as I wish */
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
  border: 2px solid rgb(204, 40, 40);
}
#main-navbar {
  background-color: lightskyblue;
  overflow: hidden;
  padding: 0 px;
}

#main-navbar ul {
  list-style-type: none;
  position: relative;
  left: 50%;
  float: left;
  font-family: Calibri, sans-serif;
}

#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
  border: none;
  padding: 10px;
}

#main-navbar ul li a {
  display: block;
  
  color :black;
  text-decoration:none;
  font: Calibri,sans-serif;
}

#main-navbar ul li a:hover {
  background-color: lightgrey;
}
/*End Navbar related CSS section */

